.static {position: static;}.abs {position: absolute;}.abs-x0 {left: 0.0%;}
.abs-x1 {left: 8.333333333333332%;}
.abs-x2 {left: 16.666666666666664%;}
.abs-x3 {left: 25.0%;}
.abs-x4 {left: 33.33333333333333%;}
.abs-x5 {left: 41.66666666666667%;}
.abs-x6 {left: 50.0%;}
.abs-x7 {left: 58.333333333333336%;}
.abs-x8 {left: 66.66666666666666%;}
.abs-x9 {left: 75.0%;}
.abs-x10 {left: 83.33333333333334%;}
.abs-x11 {left: 91.66666666666666%;}
.abs-x12 {left: 100.0%;}
.abs-y0 {top: 0.0%;}
.abs-y1 {top: 12.5%;}
.abs-y2 {top: 25.0%;}
.abs-y3 {top: 37.5%;}
.abs-y4 {top: 50.0%;}
.abs-y5 {top: 62.5%;}
.abs-y6 {top: 75.0%;}
.abs-y7 {top: 87.5%;}
.abs-y8 {top: 100.0%;}
.abs-x0 {left: 0.0%;}
.abs-x1 {left: 8.333333333333332%;}
.abs-x2 {left: 16.666666666666664%;}
.abs-x3 {left: 25.0%;}
.abs-x4 {left: 33.33333333333333%;}
.abs-x5 {left: 41.66666666666667%;}
.abs-x6 {left: 50.0%;}
.abs-x7 {left: 58.333333333333336%;}
.abs-x8 {left: 66.66666666666666%;}
.abs-x9 {left: 75.0%;}
.abs-x10 {left: 83.33333333333334%;}
.abs-x11 {left: 91.66666666666666%;}
.abs-x12 {left: 100.0%;}
.abs-y0 {top: 0.0%;}
.abs-y1 {top: 12.5%;}
.abs-y2 {top: 25.0%;}
.abs-y3 {top: 37.5%;}
.abs-y4 {top: 50.0%;}
.abs-y5 {top: 62.5%;}
.abs-y6 {top: 75.0%;}
.abs-y7 {top: 87.5%;}
.abs-y8 {top: 100.0%;}
.fixed {position: fixed;}.fixed-x0 {left: 0.0%;}
.fixed-x1 {left: 8.333333333333332%;}
.fixed-x2 {left: 16.666666666666664%;}
.fixed-x3 {left: 25.0%;}
.fixed-x4 {left: 33.33333333333333%;}
.fixed-x5 {left: 41.66666666666667%;}
.fixed-x6 {left: 50.0%;}
.fixed-x7 {left: 58.333333333333336%;}
.fixed-x8 {left: 66.66666666666666%;}
.fixed-x9 {left: 75.0%;}
.fixed-x10 {left: 83.33333333333334%;}
.fixed-x11 {left: 91.66666666666666%;}
.fixed-x12 {left: 100.0%;}
.fixed-y0 {top: 0.0%;}
.fixed-y1 {top: 12.5%;}
.fixed-y2 {top: 25.0%;}
.fixed-y3 {top: 37.5%;}
.fixed-y4 {top: 50.0%;}
.fixed-y5 {top: 62.5%;}
.fixed-y6 {top: 75.0%;}
.fixed-y7 {top: 87.5%;}
.fixed-y8 {top: 100.0%;}
.relative {position: relative;}.sticky {position: sticky;}.left-0 {left: 0%;}
.left-1 {left: 1%;}
.left-2 {left: 2%;}
.left-3 {left: 3%;}
.left-4 {left: 4%;}
.left-5 {left: 5%;}